@media (min-width: 992px) {

.slider__home-secondary {
	display: block;
	padding: 0;
  	border: none;
  	float: right;
}

.slider__home {
	float: right;
}

.home__content {
  width: auto;
  height: 100vh;
  padding: 0;
  padding-top: 30vh;
}

.home__content img {
  display: block;
  margin: 0 auto 70px auto;
  width: 90px;
}

.home__content h2 {
  color: #000;
  font-size: 3.5em;
  line-height: 1em;
}

.content-01 h4:nth-child(4) {
  top: 25vh;
  left: 8vw;
  color: #000;
  transform: rotate(-90deg);
  font-size: 0.6em;
}

.content-01 h4:nth-child(5) {
  bottom: 70px;
  right: none;
  left: 8vw;
  color: #000;
  font-size: 0.6em;
}

.me__section--responsive {
	display: none;
}

.me__section {
	height: 100vh;
	width: 100%;
	display: block;
	position: absolute;
	z-index: -1;
	overflow: hidden;
}

#myVideo {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  background-size: 100% 100%;
  background-color: white;
  background-position: center center;
  background-size: contain;
  object-fit: cover;

  z-index:-1;
  margin: 0;
  padding: 0;
}

.section__square-white {
  width: 60px;
  height: 60px;
}

.section__square-white h2 {
  padding-top: 8px;
  font-size: 2.4em;
}

.timeline {
  padding-top: 40vh;
}

.timeline__event {
  margin-bottom: 80px;
}

.timeline__block span {
  font-size: 1em;
}

.timeline__text {
  padding-top: 10vh;
}

.timeline__text-title {
  height: 20vh;
}

.timeline__text-title h3 {
  font-size: 2.2em;
}

.timeline__text p {
	font-size: 0.8em;
  	margin-bottom: 80px;
}

/*SKILLS*/

.rose-square {
  width: 60px;
  height: 60px;
}

.rose-square h2 {
  padding-top: 8px;
  font-size: 2.4em;
}

.skills__text {
  padding-top: 25vh;
}

.skills__text h3 {
  font-size: 2.2em;
}

}


@media (min-width: 1200px) {

.timeline__text {
  padding-top: 20vh;
}

.timeline__text-title {
  height: 20vh;
}

.skills__cat_item-list {
  color: #CC6E5C;
  transform: translateY(-90px);
  transition: 0.5s;
  opacity: 0;
}

.skills__cat_item:hover .skills__cat_item-list {
  transform: translateY(0px);
  opacity: 1;
}

}

@media (min-width: 1440px) {

.timeline {
  padding-top: 45vh;
}

.timeline__text {
  padding-top: 25vh;
}

.timeline__text-title h3 {
  font-size: 2.5em;
}

.skills__text h3 {
  font-size: 2.5em;
}

}